﻿<!DOCTYPE html>

<html>
<!--[if IE 9 ]><html class="ie9" lang="fr"><![endif]-->

{% block head %}
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Cinéma des SI01</title>

        <!-- Vendor styles -->
        <link rel="stylesheet" href="{{STATIC_URL}}vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}vendors/bower_components/animate.css/animate.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}vendors/bower_components/jquery.scrollbar/jquery.scrollbar.css">
        <link rel="shortcut icon" href="">
        {% block plugin_css %}
		{% endblock %}
        <!-- App styles -->
         <link rel="stylesheet" href="/static/css/assistance.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/app.css"/>
        
        <!-- page specific plugin styles -->


	</head>
{% endblock %}
<body data-ma-theme="" >
	<main class="main">
	    <div class="page-loader">
            <div class="page-loader__spinner">
                <svg viewBox="25 25 50 50">
                    <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
        <!-- début page-header-->
        {% block page-header %}
    	    {%include "navbar.html"%}
        {% endblock %}
        <!-- fin page-header -->

	    <!-- début sidebar
	    {% block sidebar %}
		    % include 'sidebar.html' %}
        {% endblock %}
	    fin sidebar-->

	    <!-- début page-content-->
        {%block section %}
	    <section id="content" class="content content--full"><!--content-->
            {%block content__inner%}
            <div class="content__inner"><!--content__inner-->
                {% block content %}

                {% endblock %}
                {%include "footer.html"%}
            </div>
            {%endblock%}
	    </section>
        {%endblock%}
	</main>
	<!-- fin page-content-->

	<!-- Javascript Libraries -->
   	<script src="{{STATIC_URL}}vendors/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/tether/dist/js/tether.min.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/jquery-scrollLock/jquery-scrollLock.min.js"></script>
    <script src="{{STATIC_URL}}vendors/bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
    <script src="{{STATIC_URL}}js/inc/functions/vendors.js"></script>
    <script src="{{STATIC_URL}}js/jquery.cookie.js"></script>

    <!-- specific plugin scripts -->
    {% block plugin_js %}

    {% endblock %}
    <!-- fin specific plugin scripts -->
     <!-- App functions -->
    <script src="{{STATIC_URL}}js/app.min.js"></script>
    <script src="{{STATIC_URL}}js/inc/functions/app.js"></script>

    <!-- fin Javascript Libraries -->
     <script type="text/javascript">
    function activeClass(){
        var menu = $("#{{ menu }}");
         console.log(menu)
        if(menu){
            menu.addClass("active");
            
        }
    };
</script>
    {% block script %}
    
    {% endblock %}



	</body>
</html>

