<footer class="footer">
    <!-- Footer Contents -->
    <p> <!--class user__img definie dans app.css de material admin attribut src: chemin de l'image
        <img class="user__img" src="/static/images/X.png" alt="" style="opacity: 0.7 !important"> © BL2C production (V {{ app_version }})--></p>
</footer>
