
<header class="header bg-dark">
    <div class="navigation-trigger hidden-xl-up" data-ma-action="aside-open" data-ma-target=".sidebar">
        <div class="navigation-trigger__inner">
            <i class="navigation-trigger__line"></i>
            <i class="navigation-trigger__line"></i>
            <i class="navigation-trigger__line"></i>
        </div>
    </div>

    <div class="header__logo hidden-sm-down">
         <ul class="top-nav">
            <li><a href="/"><h1 class="text-white">Kino Daniila</h1></a></li>
            <!-- Other Header Contents -->

            <li class="dropdown">
                <a href="/admin">
                    <i class="zmdi zmdi-folder zmdi-hc-fw"></i>Administration
                </a>
                
            </li>
            
            
             
        </ul>
    </div>
   
</header>

