﻿{%extends "base.html"%}

{% block content%}

{%for film in films%}

<div class="listview__item">
                                
                                <div class="listview__content">
                                    <div class="listview__heading">
            <img src=film.image.url class="user__img">
        
  {{film}} réalisé par {{film.realisateur}}</div>
                                    <p>{{film.resume}}</p>
<p>Séances: {{film.seances.all|safeseq|join:", "}}</p>

                                    <div class="listview__attrs">
                                        <span>{{film.genre}}</span>
                                        
                                        
                                    </div>
                                </div>
                            </div>

{%endfor%}
{%endblock%}